In [2]:
import pandas as pd

In [4]:
path_to_file = '2_taxi_nyc.csv'
taxi = pd.read_csv(path_to_file)

In [8]:
taxi.shape

(29101, 14)

In [9]:
taxi.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [11]:
taxi = taxi.rename(columns={'pcp 01': 'pcp_01',
                            'pcp 06': 'pcp_06',
                            'pcp 24': 'pcp_24'
    
})

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

In [16]:
taxi.borough.value_counts()

EWR              4343
Queens           4343
Staten Island    4343
Manhattan        4343
Brooklyn         4343
Bronx            4343
Name: borough, dtype: int64

In [29]:
boroughs_pickups = taxi.groupby('borough', as_index=False) \
.aggregate({'pickups': 'sum'}) \
.sort_values('pickups', ascending=True)

In [34]:
boroughs_pickups = taxi.groupby('borough', as_index=False) \
.aggregate({'pickups': 'sum'}) \
.sort_values('pickups', ascending=True)
boroughs_pickups = boroughs_pickups.reset_index(drop=True)
min_pickups = boroughs_pickups.iloc[0]['borough']
min_pickups

'EWR'

In [49]:
boroughs_pickups = taxi.groupby('borough', as_index=False) \
.aggregate({'pickups': 'sum'}) \
.sort_values('pickups', ascending=True)

min_pickups = boroughs_pickups.loc[boroughs_pickups['pickups'].idxmin()].borough

In [58]:
taxi.groupby(['borough', 'hday'], as_index=False) \
.aggregate({'pickups': 'mean'})

          borough hday      pickups
0           Bronx    N    50.771073
1           Bronx    Y    48.065868
2        Brooklyn    N   534.727969
3        Brooklyn    Y   527.011976
4             EWR    N     0.023467
5             EWR    Y     0.041916
6       Manhattan    N  2401.302921
7       Manhattan    Y  2035.928144
8          Queens    N   308.899904
9          Queens    Y   320.730539
10  Staten Island    N     1.606082
11  Staten Island    Y     1.497006

In [62]:
pickups_by_mon_bor = taxi.groupby(['pickup_month', 'borough'], as_index=False) \
.aggregate({'pickups': 'sum'}) \
.sort_values('pickups', ascending=False)

In [64]:
def  temp_to_celcius(data):
    
    
    cels = (data-32.0)*5.0/9.0
    
    return cels

In [66]:
type(temp_to_celcius(taxi.temp))

pandas.core.series.Series